
body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
html{
    scroll-behavior: smooth;
}
.toggle{
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    /* background-image: url("../img/bg.png");
    background-repeat: no-repeat;  <!-- 1280*720> to set profile image at right 
    background-position-x: right bottom;
    background-size: 1330px; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.lang{
    color: #292929;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: poppins;
}
.menu li a:hover,.active{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.name p:nth-child(1),
.name .details {
    color: #6c707c;
    font-size: 16px;
}
.name h1 {
    font-family: poppins;
    font-size: 40px;
    margin: 0;
    letter-spacing: 3px;
    color: #292929;
}
.cv-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF

}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
    text-transform: uppercase;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color:rgba(19, 15, 15, 0.692);
    font-size: 14px;
}
.social a:hover i {
    color:rgba(204, 57, 57, 0.692);
    transition: all ease 0.5s;
}
#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family: calibri;
    width:50%;
}
.about-text h1{
    font-size: 5rem;
    color: #17d1ac;
}
.about-text h2{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;
}
.about-text h1,h2{
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color: rgba(248, 248, 248, 0.945)
}
.about-text button{
    width:180px;
    height: 40px;
    border-radius: 20px;
    border:none;
    outline: none;
    background-color: #17d1ac;
}
.about-text button:hover{
    background-color:tomato;
    transition: all ease 0.3s;
    text-transform: uppercase;
}
.about-img{
    width:566px;
    height: 540px;
}

#Services{
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     padding: 40px;
 */
}
.s-heading h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}
.s-heading p{
    color: rgba(248, 248, 248, 0.445);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.s-heading{
    text-align: center;
    margin: 20px 0px;
}
.s-box{
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.01);
}
.s-b-container{
    display: flex;
    justify-content: center;
    align-items: center;
/*     width: 980px;
 */}

.s-b-img{
    width: 100%;
    height: 70%;
}
.s-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.s-b-text{
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-b-text a{
    margin: 0px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.s-type{
    font-family: calibri;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

}
.s-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
    cursor: pointer;
}
.s-box a:hover{
    color: rgba(255,255,255,0.50);
}

#portfolio{
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 2% 20px 2%;
}
.p-heading{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}   
.p-box{
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
     
}
.p-b-container{
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.text-overlay{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23,209,172,0.89);
    display: none;
}
.text-overlay h1,p{
    color:#FFFFFF;

}
.text-overlay h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.text-overlay p{
    font-size: 1.2rem;
    margin: 0px;

}
.text-overlay a{
    color: #bfbfbf;
    border: #1a1a1a;
    padding: 5px;
    border-radius: 10px;
    background-color: #c70e0e;
    font-size: 1.5rem;
    cursor: pointer;
}
.p-box:hover .text-overlay{
    display: flex;
}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact-btn h1{
    font-size: 2rem;
    color: #1e1e1e;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #1e1e1e ;
}
#contact-btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f4f7ff;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0,0,0,0.4);
}
#contact-btn a{
    color: #FFFFFF;
    font-family: calibri;
    font-size: 1rem;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-btn a:hover{
    background-color: #17d1ac;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;
}
#contact-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form form{
    display: flex;
    width: 70%;
    height: 60vh;
    background-color:#1a1a1a;
    box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.01);
}
.contact-left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-right{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,255,0.08)
}
.c-l-heading{
    font-family: calibri;
    color: #FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.f-email, .f-name{
    display: flex;
    flex-direction: column;
    font-family: calibri;

}
.f-email font,
.f-name font{
    color: #bfbfbf;
    font-size:22px;
}
.f-email input,
.f-name input {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
}
.message font{
    font-size: 18px;
    color: #5e5e5e;
    font-family:calibri;
}
.messsage{
    margin: 20px;
    display:flex;
    flex-direction: column;
}
.contact-right textarea{
    width:100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
}
.contact-right textarea::placeholder{
    color: #ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
}
.contact-right button{
    width: 100%;
    height: 50px;
    background-color: #1ed98b;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color:#1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.name{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	#services{
		height:auto;
	}
	.b-container{
		flex-wrap: wrap;
	}
	.s-box{
		flex-grow: 1;
	}
	.s-b-img img{
		object-fit:cover;
	}
	#contact-form form{
		width:95% !important;
	}
 
}
@media(max-width:970px){
	#main{
		background-image: none !important;
		
	}
	.name{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-model{
		display: none;
	}
	#about{
		justify-content: center;
		padding-top: 0px;
	}
	.about-text{
		width: 90%;
	}
	.about-text h1{
		font-size:4rem;
	}
	
	.p-container{
		width:100%;
	
	}
	
}
@media(max-width:900px){
	.toggle{
		display:block;
	}
	.toggle:before{
	content:'\f0c9';
	font-family: fontAwesome;
	line-height: 0px;
	margin-left:-30px;
}
	.toggle.active:before{
	content:'\f00d' !important;
	
	}
	nav{
	padding:10px 30px;
	}
	
	nav ul{
		position:absolute;	
		width: 100%;
		height:auto;
		box-sizing:border-box;
		background-color:#0F0F0F;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
		border:3px solid #1F1F1F;
	}
	
		nav ul li a{
		border-bottom: 1px solid rgba(255,255,255,0.10) ;
		color:#ffffff !important;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px !important;
		padding: 0px !important;
	}
		nav ul{
			padding:0px;
			margin:0px;
		}
 
		.active-menu {
		display: block !important;
	}
	
	nav ul li a:hover{
	background-color:rgba(27,29,32,0.15);
 
	}
	
	
	.p-container{
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto;
	grid-gap: 10px;
	height: auto;
	}
	.c-b-heading{
	font-size: 1.4rem;
	text-align: center;
	}
	#contact-form{
		padding: 20px;
		height: auto;
		box-sizing: border-box;
	}
	
	
	#contact-form form {
		flex-direction: column;
		height:auto;
		padding: 20px;
		width:90% !important;
 
	}
	.contact-left,.contact-right{
		width:100%;
		border: none;
	}
	.f-name,.f-email{
		width: 100%;
 
	}
	.f-name input,.f-email input{
		width:100%;
		border: none;
		background-color: #262626 !important;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		
	}
	textarea{
		background-color: #262626 !important;
		margin: 10px 0px;
		padding: 10px;
		height: 200px !important;
		width:100% !important;
	}
	.message{
		margin:0px;
	}
	#contact-form form h1{
		margin:5px 0px;
	}
	
	
}
 
@media(max-width:600px){
	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;}
	.c-b-heading{
		font-size: 1.2rem;
		text-align: center;
		margin: 0px 10%;
	}
	.name{
		width:60%;
	}
	
	
	.black-line{
		margin-bottom: 20px;
	}
	.social{
		left: 30px;
		transform: translateX(-10px);
	}
}
@media(max-width:600px){
	.s-box{
		width: 100%;
		height:400px;
	}
}
@media screen and (max-width:600px){
    .s-b-container{
        flex-direction: column;
    }
    .s-box{
        margin-bottom: 50px;
        width: 90%;
    }
    #Services{
        height: auto;
    }
    .p-b-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .p-box{
        height: 300px;
    }
    #about{
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }
    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-img img{
        width: 60%;
    }

    #portfolio{
        height: auto;

    }
    #portfolio .p-b-container{
        height: auto;
    }
    #portfolio .p-box:hover{
        transition: 0.6s;
        cursor: pointer;
    }
 }